@{
    ViewBag.Title = "Create Student";
}

<h2>Create Student</h2>
<br/>

<div class="col-lg-2">
    <a class="btn btn-primary" href="@Url.Action("List", "StudentManage")">Go Back</a>
</div>

<div class="col-lg-8">
    <form id="frmCreateStudent" class="form-horizontal" role="#">
        <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  placeholder="First Name" data-bind="value: student.firstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="LastName Name" data-bind="value: student.lastName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Address </label>
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="Address" data-bind="value: student.address"></textarea>
            </div>
        </div>
        <div class="form-group" style="display: none" data-bind="style: { display: isDirty() ? 'block' : 'none' }">
            <label class="col-sm-2"></label>
            <div class="col-sm-10 btn-toolbar">
                <a class="btn btn-success" href="#" data-bind="click: create">
                    Create
                </a>
                <a class="btn btn-info" href="#" data-bind="click: reset">
                    Reset
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-2"></div>


@section scripts{
    <script data-main="@Url.Content("~/Scripts/Views/StudentManage/create.js")" src="@Url.Content("~/Scripts/require.js")"></script>
}